<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>2166</integer>
  <key>capHeight</key>
  <integer>1111</integer>
  <key>copyright</key>
  <string>Copyright (c) 2007-2008, The C&amp;MA Guinea Fulbe Team;

Copyright renewed 2011-2012, George W. Nuss (http://www.fulbefouta.com),
with the Reserved Font Name "Fouta".

Copyright (c) 2004-2020, SIL International (http://www.sil.org), 
with Reserved Font Names 'Andika' and 'SIL'.

Copyright (c) 2014-2020, SIL International (http://www.sil.org/).
with Reserved Font Names "Harmattan" and "SIL".</string>
  <key>descender</key>
  <integer>-1323</integer>
  <key>familyName</key>
  <string>Harmattan</string>
  <key>openTypeHeadCreated</key>
  <string>2019/12/04 18:39:37</string>
  <key>openTypeHheaAscender</key>
  <integer>2166</integer>
  <key>openTypeHheaDescender</key>
  <integer>-1323</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDescription</key>
  <string>Harmattan, named after the trade winds that blow during the dry season in 
West Africa, is designed in a Warsh style to suit the needs of languages 
using the Arabic script in West Africa.

This font includes full support for Unicode 8.0 Arabic ranges 
(excluding the Arabic Presentation Forms blocks, which are not recommended 
for normal use). It also includes many of the characters in the 
Arabic Extended-A block that were added to Unicode 9.0 and 10.0.

This font uses state-of-the-art OpenType and Graphite font technologies, 
including variant glyphs for a number of characters for use in particular 
contexts.</string>
  <key>openTypeNameDesigner</key>
  <string>George W. Nuss III and SIL International</string>
  <key>openTypeNameDesignerURL</key>
  <string>http://www.fulbefouta.com</string>
  <key>openTypeNameLicense</key>
  <string>Copyright (c) 2007-2008, The C&amp;MA Guinea Fulbe Team;

Copyright renewed 2011-2012, George W. Nuss (http://www.fulbefouta.com),
with the Reserved Font Name "Fouta".

Copyright (c) 2004-2020, SIL International (http://www.sil.org), 
with Reserved Font Names 'Andika' and 'SIL'.

Copyright (c) 2014-2020, SIL International (http://www.sil.org/).
with Reserved Font Names "Harmattan" and "SIL".

----------------------------------------------------
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
----------------------------------------------------

PREAMBLE
The goals of the Open Font License (OFL) are to stimulate worldwide development of collaborative font projects, to support the font creation efforts of academic and linguistic communities, and to provide a free and open framework in which fonts may be shared and improved in partnership with others.

The OFL allows the licensed fonts to be used, studied, modified and redistributed freely as long as they are not sold by themselves. The fonts, including any derivative works, can be bundled, embedded, redistributed and/or sold with any software provided that any reserved names are not used by derivative works. The fonts and derivatives, however, cannot be released under any other type of license. The requirement for fonts to remain under this license does not apply to any document created using the fonts or their derivatives.

DEFINITIONS
"Font Software" refers to the set of files released by the Copyright Holder(s) under this license and clearly marked as such. This may include source files, build scripts and documentation.

"Reserved Font Name" refers to any names specified as such after the copyright statement(s).

"Original Version" refers to the collection of Font Software components as distributed by the Copyright Holder(s).

"Modified Version" refers to any derivative made by adding to, deleting, or substituting -- in part or in whole -- any of the components of the Original Version, by changing formats or by porting the Font Software to a new environment.

"Author" refers to any designer, engineer, programmer, technical writer or other person who contributed to the Font Software.

PERMISSION &amp; CONDITIONS
Permission is hereby granted, free of charge, to any person obtaining a copy of the Font Software, to use, study, copy, merge, embed, modify, redistribute, and sell modified and unmodified copies of the Font Software, subject to the following conditions:

1) Neither the Font Software nor any of its individual components, in Original or Modified Versions, may be sold by itself.

2) Original or Modified Versions of the Font Software may be bundled, redistributed and/or sold with any software, provided that each copy contains the above copyright notice and this license. These can be included either as stand-alone text files, human-readable headers or in the appropriate machine-readable metadata fields within text or binary files as long as those fields can be easily viewed by the user.

3) No Modified Version of the Font Software may use the Reserved Font Name(s) unless explicit written permission is granted by the corresponding Copyright Holder. This restriction only applies to the primary font name as presented to the users.

4) The name(s) of the Copyright Holder(s) or the Author(s) of the Font Software shall not be used to promote, endorse or advertise any Modified Version, except to acknowledge the contribution(s) of the Copyright Holder(s) and the Author(s) or with their explicit written permission.

5) The Font Software, modified or unmodified, in part or in whole, must be distributed entirely under this license, and must not be distributed under any other license. The requirement for fonts to remain under this license does not apply to any document created using the Font Software.

TERMINATION
This license becomes null and void if any of the above conditions are not met.

DISCLAIMER
THE FONT SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL THE COPYRIGHT HOLDER BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, INCLUDING ANY GENERAL, SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF THE USE OR INABILITY TO USE THE FONT SOFTWARE OR FROM OTHER DEALINGS IN THE FONT SOFTWARE.</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>SIL International</string>
  <key>openTypeNameManufacturerURL</key>
  <string>http://www.sil.org/</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Harmattan</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Regular</string>
  <key>openTypeNameUniqueID</key>
  <string>SIL International: Harmattan Regular: 2019</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.040</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
    <integer>6</integer>
    <integer>29</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>1</integer>
    <integer>0</integer>
    <integer>5</integer>
    <integer>3</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>2</integer>
    <integer>0</integer>
    <integer>3</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>460</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>80</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>1434</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>300</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>1331</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>1434</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>510</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>1331</integer>
  <key>openTypeOS2Type</key>
  <array/>
  <key>openTypeOS2TypoAscender</key>
  <integer>2166</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-1323</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>3</integer>
    <integer>5</integer>
    <integer>13</integer>
    <integer>31</integer>
    <integer>33</integer>
    <integer>35</integer>
    <integer>38</integer>
    <integer>45</integer>
    <integer>63</integer>
    <integer>67</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>SIL </string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>2166</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>1323</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-25</integer>
    <integer>0</integer>
    <integer>112</integer>
    <integer>125</integer>
    <integer>763</integer>
    <integer>778</integer>
    <integer>1092</integer>
    <integer>1111</integer>
  </array>
  <key>postscriptFontName</key>
  <string>Harmattan-Regular</string>
  <key>postscriptOtherBlues</key>
  <array>
    <integer>-378</integer>
    <integer>-352</integer>
  </array>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>145</integer>
    <integer>64</integer>
    <integer>112</integer>
    <integer>123</integer>
    <integer>133</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>143</integer>
    <integer>82</integer>
    <integer>113</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-150</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>100</integer>
  <key>styleMapFamilyName</key>
  <string>Harmattan</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>trademark</key>
  <string>Harmattan is a trademark of SIL International. Fouta New Arabic and Fouta New AS are trademarks of the C&amp;MA Guinea Fulbe Team</string>
  <key>unitsPerEm</key>
  <integer>2048</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>903</integer>
  <key>woffMetadataCredits</key>
  <dict>
    <key>credits</key>
    <array>
      <dict>
        <key>name</key>
        <string>Bob Hallissy</string>
        <key>role</key>
        <string>Graphite, OpenType, and TypeTuner code, and build support</string>
        <key>url</key>
        <string>http://scripts.sil.org/</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Becca Spalinger</string>
        <key>role</key>
        <string>Lead Designer</string>
        <key>url</key>
        <string>http://scripts.sil.org/</string>
      </dict>
      <dict>
        <key>name</key>
        <string>George W. Nuss</string>
        <key>role</key>
        <string>Original Designer</string>
        <key>url</key>
        <string>http://www.fulbefouta.com</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Iska Routamaa</string>
        <key>role</key>
        <string>Contributing Designer</string>
        <key>url</key>
        <string>http://scripts.sil.org/</string>
      </dict>
    </array>
  </dict>
  <key>woffMetadataDescription</key>
  <dict>
    <key>text</key>
    <array>
      <dict>
        <key>text</key>
        <string>Harmattan, named after the trade winds that blow during the dry season in
West Africa, is designed in a Warsh style to suit the needs of languages
using the Arabic script in West Africa.

This font includes full support for Unicode 8.0 Arabic ranges
(excluding the Arabic Presentation Forms blocks, which are not recommended
for normal use). It also includes many of the characters in the
Arabic Extended-A block that were added to Unicode 9.0 and 11.0 (no Arabic
script characters were added to Unicode 10.0).

This font uses state-of-the-art OpenType and Graphite font technologies,
including variant glyphs for a number of characters for use in particular
contexts.

This font provides a simplified rendering of Arabic script, using basic
connecting glyphs but not including a wide variety of additional ligatures
or contextual alternates (only the required lam-alef ligatures). This
simplified style is often preferred for clarity, especially in non-Arabic
languages, but may be considered unattractive in more traditional and
literate communities.

Two fonts from this typeface family are included in this release:

* Harmattan Regular
* Harmattan Bold

For detailed documentation see the contents of the 'documentation' folder.

A Note Regarding the Open Font License and TypeTuner
----------------------------------------------------

The OFL prohibits the use of Reserved Font Names "Fouta", "Harmattan" and
"SIL" in the name of any font that is derived from the Original Version of
Harmattan. However, SIL International (the Copyright Holder) grants
through this separate written agreement the right to use the Reserved Font
Names in any Modified Version of this font created by using TypeTuner as
long as the feature information contained in the Original Version is used,
unmodified, as the source for TypeTuner feature information, and
"Harmattan" is not the resulting font family name.

TypeTuner-produced fonts created in this manner are still bound by the
terms of the OFL. Specifically, the use of Reserved Font Names is
prohibited when making derivatives of a TypeTuner-produced font. Anyone
making a derivative of a TypeTuner font will need to find a different
name. For example a TypeTuner-produced font may be named
"Harmattan SomeFarAwayPlace" but a derivative of that font made
with other tools would not be allowed to use the "Fouta", "Harmattan"
and "SIL" Reserved Font Names and would have to be named something like
"Nations Ajami".


ChangeLog
---------
(This should list both major and minor changes, most recent first.)

2019-10-18 (SIL WSTech team) Harmattan Version 2.000 (production release)
- Added a bold typeface
- Added support for all characters in the Arabic and Arabic Supplement blocks
- Added support for all base characters in the Arabic Extended-A block and U+08E3
- Added U+FDFC, U+FDFD (bismillah)
- Added U+02D0, U+02D8..U+02D9, U+02DB, U+02DD, U+034F, U+03C0, U+2044, U+2126, U+2202,
U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264..U+2265, U+2423
- Implemented language support for Kurdish, Rohingya, Sindhi, Urdu, and Wolof variants
- Implemented Dal, Heh, Arabic U, Inverted Damma, and Eastern Digits features
- Implemented new Allah ligature rules
- Improved support for Shaddah+kasra placement feature
- Removed "Show invisible characters" feature
- Added UI name strings for Graphite and OpenType features
- Improvements to the design of dal- keheh-, yeh-, qaf-, ain-, heh doachashmee-, swash kaf-,
and yeh barree-based characters
- Improvements to the design of U+FDF2 - modified to use shadda-dagger alef (not shadda-fatha)
- Improvements to the design of rohingya yeh
- Improvements to the design and size of digits (latin and arabic)
- Improvements to positioning of combining marks and nuktas
- Adjustments to spacing around many Arabic script characters
- Rework kerning logic based on new spacing around characters
- Improved line spacing to support added characters
- Modified underline and strikethrough position (used by some applications)
- Modified superscript and subscript size and positioning (used by some applications)

2016-04-07 (SIL NRSI team) Harmattan Version 1.001 (production release)
- Changed internal font names
- changed space of U+00A0 to match regular space

2015-03-25 (SIL NRSI team) Harmattan Version 1.00 (production release)
- Further improvements to kerning.

2014-12-11 (SIL NRSI team) Harmattan alpha Version 0.119 (test release)
- Improved kerning logic in OpenType (via GPOS) and Graphite

2014-10-27 (SIL NRSI team) Harmattan alpha Version 0.118 (test release)
- Improved display:
- Reduced width of arrowhead combining marks to reduce collisions
- Added kerning logic in OpenType (via GPOS) and Graphite

2014-10-14 (SIL NRSI team) Harmattan alpha Version 0.117 (test release)
- Alpha release of font for feedback
- Revision of design of characters based on feedback received
- Shortened kasra and fatha (and similar characters and glyphs) to
help with collisions
- Adjusted design to final form of U+06D2 to help with collisions
- Increased spacing after reh-like characters
- African qaf, African noon, African feh added (in the Unicode pipeline)
- A few minor anchor point tweaks
- Changed default behavior for cv62 to have the kasra in the "lowered" postion
- Removed cv62 as an OpenType feature. It is now only available through
Graphite or TypeTunerWeb
- Default linespacing adjusted to handle tallest base character with shadda
and lowest base character so these are not clipped
- Added Normal and Loose linespacing adjustments for TypeTunerWeb

2014-06-24 (SIL NRSI team) Harmattan alpha Version 0.111 (test release)
- Alpha release of font for feedback
- Revision of design of characters based on feedback received
- Isolate reh and noon ghunna characters modified
- Tatweel (U+0640) length was shortened
- APs on many characters were adjusted
- Adjusted design of U+08F7..U+08FD (arrowheads)
- added U+065E, U+08F0, U+08F1, U+08F2, U+08F3

2014-04-03 (SIL NRSI team) Harmattan alpha Version 0.106 (test release)
- Alpha release of font for feedback
- Revision of design of characters based on feedback received

2013-12-04 (SIL NRSI team) Harmattan alpha Version 0.010 (test release)
- Alpha release of font for feedback only (not an actual font release)
- Arabic script design work is based on Fouta font (see copyright and
acknowledgments) with significant modification
- Latin script design is based on a Andika (see copyright). The Latin
Andika glyphs have been reduced in size to match Harmattan</string>
      </dict>
    </array>
  </dict>
  <key>xHeight</key>
  <integer>778</integer>
</dict>
</plist>
