<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>stems</key>
    <dict>
      <key>X: 100</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>23</key>
          <integer>2</integer>
          <key>31</key>
          <integer>3</integer>
          <key>35</key>
          <integer>4</integer>
          <key>45</key>
          <integer>5</integer>
          <key>55</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>205</integer>
      </dict>
      <key>X: 143</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>23</key>
          <integer>2</integer>
          <key>31</key>
          <integer>3</integer>
          <key>52</key>
          <integer>4</integer>
          <key>65</key>
          <integer>5</integer>
          <key>79</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>143</integer>
      </dict>
      <key>X: 50</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>110</key>
          <integer>6</integer>
          <key>37</key>
          <integer>2</integer>
          <key>43</key>
          <integer>3</integer>
          <key>66</key>
          <integer>4</integer>
          <key>83</key>
          <integer>5</integer>
        </dict>
        <key>width</key>
        <integer>102</integer>
      </dict>
      <key>X: 55</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>100</key>
          <integer>6</integer>
          <key>37</key>
          <integer>2</integer>
          <key>43</key>
          <integer>3</integer>
          <key>66</key>
          <integer>4</integer>
          <key>83</key>
          <integer>5</integer>
        </dict>
        <key>width</key>
        <integer>113</integer>
      </dict>
      <key>X: 77</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>23</key>
          <integer>2</integer>
          <key>31</key>
          <integer>3</integer>
          <key>52</key>
          <integer>4</integer>
          <key>65</key>
          <integer>5</integer>
          <key>72</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>158</integer>
      </dict>
      <key>X: 82</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>118</key>
          <integer>5</integer>
          <key>138</key>
          <integer>6</integer>
          <key>37</key>
          <integer>2</integer>
          <key>71</key>
          <integer>3</integer>
          <key>92</key>
          <integer>4</integer>
        </dict>
        <key>width</key>
        <integer>82</integer>
      </dict>
      <key>Y: 10</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>150</key>
          <integer>2</integer>
          <key>250</key>
          <integer>3</integer>
          <key>350</key>
          <integer>4</integer>
          <key>450</key>
          <integer>5</integer>
          <key>550</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>20</integer>
      </dict>
      <key>Y: 112</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>101</key>
          <integer>6</integer>
          <key>23</key>
          <integer>2</integer>
          <key>43</key>
          <integer>3</integer>
          <key>66</key>
          <integer>4</integer>
          <key>83</key>
          <integer>5</integer>
        </dict>
        <key>width</key>
        <integer>112</integer>
      </dict>
      <key>Y: 123</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>23</key>
          <integer>2</integer>
          <key>43</key>
          <integer>3</integer>
          <key>52</key>
          <integer>4</integer>
          <key>83</key>
          <integer>5</integer>
          <key>92</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>123</integer>
      </dict>
      <key>Y: 133</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>23</key>
          <integer>2</integer>
          <key>43</key>
          <integer>3</integer>
          <key>52</key>
          <integer>4</integer>
          <key>65</key>
          <integer>5</integer>
          <key>85</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>133</integer>
      </dict>
      <key>Y: 37</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>118</key>
          <integer>5</integer>
          <key>149</key>
          <integer>6</integer>
          <key>37</key>
          <integer>2</integer>
          <key>71</key>
          <integer>3</integer>
          <key>92</key>
          <integer>4</integer>
        </dict>
        <key>width</key>
        <integer>76</integer>
      </dict>
      <key>Y: 64</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>112</key>
          <integer>4</integer>
          <key>144</key>
          <integer>5</integer>
          <key>176</key>
          <integer>6</integer>
          <key>37</key>
          <integer>2</integer>
          <key>71</key>
          <integer>3</integer>
        </dict>
        <key>width</key>
        <integer>64</integer>
      </dict>
      <key>Y: 71</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>23</key>
          <integer>2</integer>
          <key>43</key>
          <integer>3</integer>
          <key>52</key>
          <integer>4</integer>
          <key>65</key>
          <integer>5</integer>
          <key>78</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>145</integer>
      </dict>
    </dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
        <key>width</key>
        <integer>33</integer>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-416</integer>
        <key>top</key>
        <false/>
        <key>width</key>
        <integer>27</integer>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>915</integer>
        <key>top</key>
        <true/>
        <key>width</key>
        <integer>39</integer>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>1356</integer>
        <key>top</key>
        <true/>
        <key>width</key>
        <integer>33</integer>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>CR</string>
    <string>space</string>
    <string>tab</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphenminus</string>
    <string>period</string>
    <string>period.test</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>Euro</string>
    <string>quotesinglbase</string>
    <string>florin</string>
    <string>quotedblbase</string>
    <string>ellipsis</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>circumflex</string>
    <string>perthousand</string>
    <string>Scaron</string>
    <string>guilsinglleft</string>
    <string>OE</string>
    <string>Zcaron</string>
    <string>caron</string>
    <string>ring</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>bullet</string>
    <string>endash</string>
    <string>emdash</string>
    <string>tilde</string>
    <string>trademark</string>
    <string>scaron</string>
    <string>guilsinglright</string>
    <string>oe</string>
    <string>zcaron</string>
    <string>Ydieresis</string>
    <string>nobreakspace</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>sfthyphen</string>
    <string>registered</string>
    <string>overscore</string>
    <string>modMacron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>micro</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>bulletOperator</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>dotlessi</string>
    <string>enQuad</string>
    <string>emQuad</string>
    <string>enSpace</string>
    <string>emSpace</string>
    <string>threePerEmSpace</string>
    <string>fourPerEmSpace</string>
    <string>sixPerEmSpace</string>
    <string>figureSpace</string>
    <string>punctuationSpace</string>
    <string>thinSpace</string>
    <string>hairSpace</string>
    <string>zerospace</string>
    <string>zeronojoin</string>
    <string>zerojoin</string>
    <string>leftToRightMark</string>
    <string>rightToLeftMark</string>
    <string>hyphen</string>
    <string>noBreakHyphen</string>
    <string>figureDash</string>
    <string>horizontalBar</string>
    <string>hyphenationPoint</string>
    <string>lineSeparator</string>
    <string>paragraphSeparator</string>
    <string>leftToRightEmbedding</string>
    <string>rightToLeftEmbedding</string>
    <string>popDirectionalFormatting</string>
    <string>leftToRightOverride</string>
    <string>rightToLeftOverride</string>
    <string>narrowNoBreakSpace</string>
    <string>wordJoiner</string>
    <string>inhibitArabicFormShaping</string>
    <string>activateArabicFormShaping</string>
    <string>leftToRightIsolate</string>
    <string>rightToLeftIsolate</string>
    <string>firstStrongIsolate</string>
    <string>popDirectionalIsolate</string>
    <string>minus</string>
    <string>circledash</string>
    <string>FontBslnSideBrngMrkrLft</string>
    <string>FontBslnSideBrngMrkrRt</string>
    <string>zeroWidthNoBreakSpace</string>
    <string>absAlefMaddaAbove</string>
    <string>absAlefMaddaAbove.small</string>
    <string>absAlefHamzaAbove</string>
    <string>absAlefHamzaAbove.warsh</string>
    <string>absAlefHamzaBelow</string>
    <string>absAlefHamzaBelow.warsh</string>
    <string>absAlef</string>
    <string>absAlefWasla</string>
    <string>absAlefFatha</string>
    <string>absAlefFatha.warsh</string>
    <string>absAlefKasra</string>
    <string>absAlefKasra.warsh</string>
    <string>absWawHamzaAbove</string>
    <string>absWaw</string>
    <string>absOe</string>
    <string>absYu</string>
    <string>absKirghizYu</string>
    <string>absWawTwoDotsAbove</string>
    <string>absVe</string>
    <string>absWawDotAbove</string>
    <string>absDal</string>
    <string>absThal</string>
    <string>absDalRing</string>
    <string>absDalDotBelow</string>
    <string>absDalDotBelowSmallTah</string>
    <string>absDahal</string>
    <string>absDdahal</string>
    <string>absDul</string>
    <string>absDalThreeDotsAboveDownwards</string>
    <string>absDalHat</string>
    <string>absDalInvSmallVBelow</string>
    <string>absDalThreeDotsBelow</string>
    <string>absReh</string>
    <string>absZain</string>
    <string>absRehSmallV</string>
    <string>absRehDotBelow</string>
    <string>absRehSmallVBelow</string>
    <string>absRehTwoDotsAbove</string>
    <string>absJeh</string>
    <string>absRehTwoVertAbove</string>
    <string>absZainHat</string>
    <string>absRehHat</string>
    <string>absRehBar</string>
    <string>absYehBarree</string>
    <string>absYehHamzaAbove</string>
    <string>absYeh</string>
    <string>absYeh.noDots</string>
    <string>absFarsiYeh</string>
    <string>absFarsiYehInvertedV</string>
    <string>absFarsiYehTwoDotsAbove</string>
    <string>absFarsiYehThreeDotsAbove</string>
    <string>absYehSmallV</string>
    <string>absE</string>
    <string>absYehThreeDotsBelow</string>
    <string>absAlefMaksura</string>
    <string>absYehTwoDotsBelowHamzaAbove</string>
    <string>absYehTwoDotsBelowDotAbove</string>
    <string>absBehNoDots</string>
    <string>absBeh</string>
    <string>absTeh</string>
    <string>absTheh</string>
    <string>absTteheh</string>
    <string>absBeeh</string>
    <string>absTehThreeDotsAboveDownwards</string>
    <string>absPeh</string>
    <string>absBehThreeDotsHorizBelow</string>
    <string>absBehThreeDotsAboveDotBelow</string>
    <string>absBehThreeDotsUpwardBelow</string>
    <string>absBehTwoDotsAboveThreeDotsUpwardBelow</string>
    <string>absBehDotAboveTwoDotsBelow</string>
    <string>absBehInvSmallVBelow</string>
    <string>absBehSmallVAbove</string>
    <string>absBehSmallVBelow</string>
    <string>absBehHamzaAbove</string>
    <string>absJeem</string>
    <string>absHah</string>
    <string>absKhah</string>
    <string>absHahTwoDotsVerticalAbove</string>
    <string>absNyeh</string>
    <string>absDyeh</string>
    <string>absHahThreeDotsAbove</string>
    <string>absTcheh</string>
    <string>absTchehDotAbove</string>
    <string>absHahTwoDotsAbove</string>
    <string>absHahThreeDotsUpwardBelow</string>
    <string>absJeemTwoDotsAbove</string>
    <string>absSeen</string>
    <string>absSheen</string>
    <string>absSeenDotBelowDotAbove</string>
    <string>absSeenThreeDotsBelow</string>
    <string>absSeenThreeDotsBelowThreeDotsAbove</string>
    <string>absSheenDotBelow</string>
    <string>absSeenTwoVertAbove</string>
    <string>absSeenInvertedV</string>
    <string>absSad</string>
    <string>absSad.half</string>
    <string>absDad</string>
    <string>absDad.half</string>
    <string>absSadTwoDotsBelow</string>
    <string>absSadTwoDotsBelow.half</string>
    <string>absSadThreeDotsAbove</string>
    <string>absSadThreeDotsAbove.half</string>
    <string>absDadDotBelow</string>
    <string>absDadDotBelow.half</string>
    <string>absSadThreeDotsBelow</string>
    <string>absSadThreeDotsBelow.half</string>
    <string>absTah</string>
    <string>absZah</string>
    <string>absTahThreeDotsAbove</string>
    <string>absTahTwoDotsAbove</string>
    <string>absAin</string>
    <string>absGhain</string>
    <string>absAinThreeDotsAbove</string>
    <string>absGhainDotBelow</string>
    <string>absAinTwoDotsAbove</string>
    <string>absAinThreeDotsDownAbove</string>
    <string>absAinTwoDotsVertAbove</string>
    <string>absFeh</string>
    <string>absDotlessFeh</string>
    <string>absFehDotMovedBelow</string>
    <string>absFehDotBelow</string>
    <string>absVeh</string>
    <string>absFehThreeDotsBelow</string>
    <string>absFehTwoDotsBelow</string>
    <string>absFehThreeDotsUpwardBelow</string>
    <string>absFehDotBelowThreeDotsAbove</string>
    <string>absQafNoDots</string>
    <string>absQaf</string>
    <string>absQafDotAbove</string>
    <string>absQafThreeDotsAbove</string>
    <string>absQafDotBelow</string>
    <string>absKaf</string>
    <string>absKafDotAbove</string>
    <string>absNg</string>
    <string>absKafTwoDotsAbove</string>
    <string>absKafThreeDotsBelow</string>
    <string>absKeheh</string>
    <string>absGaf</string>
    <string>absKehehDotAbove</string>
    <string>absKehehThreeDotsAbove</string>
    <string>absKehehThreeDotsUpwardBelow</string>
    <string>absKehehTwoDotsAbove</string>
    <string>absKehehThreeDotsBelow</string>
    <string>absSwashKaf</string>
    <string>absLam</string>
    <string>absLamSmallV</string>
    <string>absLamDotAbove</string>
    <string>absLamThreeDotsAbove</string>
    <string>absLamThreeDotsBelow</string>
    <string>absLamBar</string>
    <string>absLamDoubleBar</string>
    <string>absMeem</string>
    <string>absMeem.sindhi</string>
    <string>absMeemDotAbove</string>
    <string>absMeemDotAbove.sindhi</string>
    <string>absMeemDotBelow</string>
    <string>absMeemDotBelow.sindhi</string>
    <string>absMeemThreeDotsAbove</string>
    <string>absMeemThreeDotsAbove.sindhi</string>
    <string>absNoon</string>
    <string>absNoonDotBelow</string>
    <string>absNoonGhunna</string>
    <string>absNoonThreeDotsAbove</string>
    <string>absNoonTwoDotsBelow</string>
    <string>absNoonSmallV</string>
    <string>absHeh</string>
    <string>absAe</string>
    <string>absTehMarbuta</string>
    <string>absHehYehAbove</string>
    <string>absHamza</string>
    <string>absTatweel</string>
    <string>absAlefMaddaAboveFin</string>
    <string>absAlefMaddaAboveFin.small</string>
    <string>absAlefHamzaAboveFin</string>
    <string>absAlefHamzaAboveFin.warsh</string>
    <string>absAlefHamzaBelowFin</string>
    <string>absAlefHamzaBelowFin.warsh</string>
    <string>absAlefFin</string>
    <string>absAlefWaslaFin</string>
    <string>absWawHamzaAboveFin</string>
    <string>absWawFin</string>
    <string>absOeFin</string>
    <string>absYuFin</string>
    <string>absKirghizYuFin</string>
    <string>absWawTwoDotsAboveFin</string>
    <string>absVeFin</string>
    <string>absWawDotAboveFin</string>
    <string>absDalFin</string>
    <string>absThalFin</string>
    <string>absDalRingFin</string>
    <string>absDalDotBelowFin</string>
    <string>absDalDotBelowSmallTahFin</string>
    <string>absDahalFin</string>
    <string>absDdahalFin</string>
    <string>absDulFin</string>
    <string>absDalThreeDotsAboveDownwardsFin</string>
    <string>absDalHatFin</string>
    <string>absDalInvSmallVBelowFin</string>
    <string>absDalThreeDotsBelowFin</string>
    <string>absRehFin</string>
    <string>absZainFin</string>
    <string>absRehSmallVFin</string>
    <string>absRehDotBelowFin</string>
    <string>absRehSmallVBelowFin</string>
    <string>absRehTwoDotsAboveFin</string>
    <string>absJehFin</string>
    <string>absRehTwoVertAboveFin</string>
    <string>absZainHatFin</string>
    <string>absRehHatFin</string>
    <string>absRehBarFin</string>
    <string>absYehBarreeFin</string>
    <string>absYehHamzaAboveFin</string>
    <string>absYehFin</string>
    <string>absYehFin.noDots</string>
    <string>absFarsiYehFin</string>
    <string>absFarsiYehInvertedVFin</string>
    <string>absFarsiYehTwoDotsAboveFin</string>
    <string>absFarsiYehThreeDotsAboveFin</string>
    <string>absYehSmallVFin</string>
    <string>absEFin</string>
    <string>absYehThreeDotsBelowFin</string>
    <string>absAlefMaksuraFin</string>
    <string>absYehTwoDotsBelowHamzaAboveFin</string>
    <string>absYehTwoDotsBelowDotAboveFin</string>
    <string>absBehNoDotsFin</string>
    <string>absBehFin</string>
    <string>absTehFin</string>
    <string>absThehFin</string>
    <string>absTtehehFin</string>
    <string>absBeehFin</string>
    <string>absTehThreeDotsAboveDownwardsFin</string>
    <string>absPehFin</string>
    <string>absBehThreeDotsHorizBelowFin</string>
    <string>absBehThreeDotsAboveDotBelowFin</string>
    <string>absBehThreeDotsUpwardBelowFin</string>
    <string>absBehTwoDotsAboveThreeDotsUpwardBelowFin</string>
    <string>absBehDotAboveTwoDotsBelowFin</string>
    <string>absBehInvSmallVBelowFin</string>
    <string>absBehSmallVAboveFin</string>
    <string>absBehSmallVBelowFin</string>
    <string>absBehHamzaAboveFin</string>
    <string>absJeemFin</string>
    <string>absHahFin</string>
    <string>absKhahFin</string>
    <string>absHahTwoDotsVerticalAboveFin</string>
    <string>absNyehFin</string>
    <string>absDyehFin</string>
    <string>absHahThreeDotsAboveFin</string>
    <string>absTchehFin</string>
    <string>absTchehDotAboveFin</string>
    <string>absHahTwoDotsAboveFin</string>
    <string>absHahThreeDotsUpwardBelowFin</string>
    <string>absJeemTwoDotsAboveFin</string>
    <string>absSeenFin</string>
    <string>absSheenFin</string>
    <string>absSeenDotBelowDotAboveFin</string>
    <string>absSeenThreeDotsBelowFin</string>
    <string>absSeenThreeDotsBelowThreeDotsAboveFin</string>
    <string>absSheenDotBelowFin</string>
    <string>absSeenTwoVertAboveFin</string>
    <string>absSeenInvertedVFin</string>
    <string>absSadFin</string>
    <string>absSadFin.half</string>
    <string>absDadFin</string>
    <string>absDadFin.half</string>
    <string>absSadTwoDotsBelowFin</string>
    <string>absSadTwoDotsBelowFin.half</string>
    <string>absSadThreeDotsAboveFin</string>
    <string>absSadThreeDotsAboveFin.half</string>
    <string>absDadDotBelowFin</string>
    <string>absDadDotBelowFin.half</string>
    <string>absSadThreeDotsBelowFin</string>
    <string>absSadThreeDotsBelowFin.half</string>
    <string>absTahFin</string>
    <string>absZahFin</string>
    <string>absTahThreeDotsAboveFin</string>
    <string>absTahTwoDotsAboveFin</string>
    <string>absAinFin</string>
    <string>absGhainFin</string>
    <string>absAinThreeDotsAboveFin</string>
    <string>absGhainDotBelowFin</string>
    <string>absAinTwoDotsAboveFin</string>
    <string>absAinThreeDotsDownAboveFin</string>
    <string>absAinTwoDotsVertAboveFin</string>
    <string>absFehFin</string>
    <string>absDotlessFehFin</string>
    <string>absFehDotMovedBelowFin</string>
    <string>absFehDotBelowFin</string>
    <string>absVehFin</string>
    <string>absFehThreeDotsBelowFin</string>
    <string>absFehTwoDotsBelowFin</string>
    <string>absFehThreeDotsUpwardBelowFin</string>
    <string>absFehDotBelowThreeDotsAboveFin</string>
    <string>absQafNoDotsFin</string>
    <string>absQafFin</string>
    <string>absQafDotAboveFin</string>
    <string>absQafThreeDotsAboveFin</string>
    <string>absQafDotBelowFin</string>
    <string>absKafFin</string>
    <string>absKafDotAboveFin</string>
    <string>absNgFin</string>
    <string>absKafTwoDotsAboveFin</string>
    <string>absKafThreeDotsBelowFin</string>
    <string>absKehehFin</string>
    <string>absGafFin</string>
    <string>absKehehDotAboveFin</string>
    <string>absKehehThreeDotsAboveFin</string>
    <string>absKehehThreeDotsUpwardBelowFin</string>
    <string>absKehehTwoDotsAboveFin</string>
    <string>absKehehThreeDotsBelowFin</string>
    <string>absSwashKafFin</string>
    <string>absLamFin</string>
    <string>absLamSmallVFin</string>
    <string>absLamDotAboveFin</string>
    <string>absLamThreeDotsAboveFin</string>
    <string>absLamThreeDotsBelowFin</string>
    <string>absLamBarFin</string>
    <string>absLamDoubleBarFin</string>
    <string>absMeemFin</string>
    <string>absMeemFin.sindhi</string>
    <string>absMeemDotAboveFin</string>
    <string>absMeemDotAboveFin.sindhi</string>
    <string>absMeemDotBelowFin</string>
    <string>absMeemDotBelowFin.sindhi</string>
    <string>absMeemThreeDotsAboveFin</string>
    <string>absMeemThreeDotsAboveFin.sindhi</string>
    <string>absNoonFin</string>
    <string>absNoonDotBelowFin</string>
    <string>absNoonGhunnaFin</string>
    <string>absNoonThreeDotsAboveFin</string>
    <string>absNoonTwoDotsBelowFin</string>
    <string>absNoonSmallVFin</string>
    <string>absHehFin</string>
    <string>absAeFin</string>
    <string>absTehMarbutaFin</string>
    <string>absHehYehAboveFin</string>
    <string>absYehHamzaAboveMed</string>
    <string>absYehMed</string>
    <string>absYehMed.noDots</string>
    <string>absFarsiYehMed</string>
    <string>absFarsiYehInvertedVMed</string>
    <string>absFarsiYehTwoDotsAboveMed</string>
    <string>absFarsiYehThreeDotsAboveMed</string>
    <string>absYehSmallVMed</string>
    <string>absEMed</string>
    <string>absYehThreeDotsBelowMed</string>
    <string>absAlefMaksuraMed</string>
    <string>absYehTwoDotsBelowHamzaAboveMed</string>
    <string>absYehTwoDotsBelowDotAboveMed</string>
    <string>absBehNoDotsMed</string>
    <string>absBehMed</string>
    <string>absTehMed</string>
    <string>absThehMed</string>
    <string>absTtehehMed</string>
    <string>absBeehMed</string>
    <string>absTehThreeDotsAboveDownwardsMed</string>
    <string>absPehMed</string>
    <string>absBehThreeDotsHorizBelowMed</string>
    <string>absBehThreeDotsAboveDotBelowMed</string>
    <string>absBehThreeDotsUpwardBelowMed</string>
    <string>absBehTwoDotsAboveThreeDotsUpwardBelowMed</string>
    <string>absBehDotAboveTwoDotsBelowMed</string>
    <string>absBehInvSmallVBelowMed</string>
    <string>absBehSmallVAboveMed</string>
    <string>absBehSmallVBelowMed</string>
    <string>absBehHamzaAboveMed</string>
    <string>absJeemMed</string>
    <string>absJeemMed.hand</string>
    <string>absHahMed</string>
    <string>absHahMed.hand</string>
    <string>absKhahMed</string>
    <string>absKhahMed.hand</string>
    <string>absHahTwoDotsVerticalAboveMed</string>
    <string>absHahTwoDotsVerticalAboveMed.hand</string>
    <string>absNyehMed</string>
    <string>absNyehMed.hand</string>
    <string>absDyehMed</string>
    <string>absDyehMed.hand</string>
    <string>absHahThreeDotsAboveMed</string>
    <string>absHahThreeDotsAboveMed.hand</string>
    <string>absTchehMed</string>
    <string>absTchehMed.hand</string>
    <string>absTchehDotAboveMed</string>
    <string>absTchehDotAboveMed.hand</string>
    <string>absHahTwoDotsAboveMed</string>
    <string>absHahTwoDotsAboveMed.hand</string>
    <string>absHahThreeDotsUpwardBelowMed</string>
    <string>absHahThreeDotsUpwardBelowMed.hand</string>
    <string>absJeemTwoDotsAboveMed</string>
    <string>absJeemTwoDotsAboveMed.hand</string>
    <string>absSeenMed</string>
    <string>absSheenMed</string>
    <string>absSeenDotBelowDotAboveMed</string>
    <string>absSeenThreeDotsBelowMed</string>
    <string>absSeenThreeDotsBelowThreeDotsAboveMed</string>
    <string>absSheenDotBelowMed</string>
    <string>absSeenTwoVertAboveMed</string>
    <string>absSeenInvertedVMed</string>
    <string>absSadMed</string>
    <string>absDadMed</string>
    <string>absSadTwoDotsBelowMed</string>
    <string>absSadThreeDotsAboveMed</string>
    <string>absDadDotBelowMed</string>
    <string>absSadThreeDotsBelowMed</string>
    <string>absTahMed</string>
    <string>absZahMed</string>
    <string>absTahThreeDotsAboveMed</string>
    <string>absTahTwoDotsAboveMed</string>
    <string>absAinMed</string>
    <string>absGhainMed</string>
    <string>absAinThreeDotsAboveMed</string>
    <string>absGhainDotBelowMed</string>
    <string>absAinTwoDotsAboveMed</string>
    <string>absAinThreeDotsDownAboveMed</string>
    <string>absAinTwoDotsVertAboveMed</string>
    <string>absFehMed</string>
    <string>absDotlessFehMed</string>
    <string>absFehDotMovedBelowMed</string>
    <string>absFehDotBelowMed</string>
    <string>absVehMed</string>
    <string>absFehThreeDotsBelowMed</string>
    <string>absFehTwoDotsBelowMed</string>
    <string>absFehThreeDotsUpwardBelowMed</string>
    <string>absFehDotBelowThreeDotsAboveMed</string>
    <string>absQafNoDotsMed</string>
    <string>absQafMed</string>
    <string>absQafDotAboveMed</string>
    <string>absQafThreeDotsAboveMed</string>
    <string>absQafDotBelowMed</string>
    <string>absKafMed</string>
    <string>absKafDotAboveMed</string>
    <string>absNgMed</string>
    <string>absKafTwoDotsAboveMed</string>
    <string>absKafThreeDotsBelowMed</string>
    <string>absKehehMed</string>
    <string>absGafMed</string>
    <string>absKehehDotAboveMed</string>
    <string>absKehehThreeDotsAboveMed</string>
    <string>absKehehThreeDotsUpwardBelowMed</string>
    <string>absKehehTwoDotsAboveMed</string>
    <string>absKehehThreeDotsBelowMed</string>
    <string>absSwashKafMed</string>
    <string>absLamMed</string>
    <string>absLamSmallVMed</string>
    <string>absLamDotAboveMed</string>
    <string>absLamThreeDotsAboveMed</string>
    <string>absLamThreeDotsBelowMed</string>
    <string>absLamBarMed</string>
    <string>absLamDoubleBarMed</string>
    <string>absMeemMed</string>
    <string>absMeemDotAboveMed</string>
    <string>absMeemDotBelowMed</string>
    <string>absMeemThreeDotsAboveMed</string>
    <string>absNoonMed</string>
    <string>absNoonDotBelowMed</string>
    <string>absNoonGhunnaMed</string>
    <string>absNoonThreeDotsAboveMed</string>
    <string>absNoonTwoDotsBelowMed</string>
    <string>absNoonSmallVMed</string>
    <string>absHehDoachashmeeMed</string>
    <string>absHehMed</string>
    <string>absYehHamzaAboveIni</string>
    <string>absYehIni</string>
    <string>absYehIni.noDots</string>
    <string>absFarsiYehIni</string>
    <string>absFarsiYehInvertedVIni</string>
    <string>absFarsiYehTwoDotsAboveIni</string>
    <string>absFarsiYehThreeDotsAboveIni</string>
    <string>absYehSmallVIni</string>
    <string>absEIni</string>
    <string>absYehThreeDotsBelowIni</string>
    <string>absAlefMaksuraIni</string>
    <string>absYehTwoDotsBelowHamzaAboveIni</string>
    <string>absYehTwoDotsBelowDotAboveIni</string>
    <string>absBehNoDotsIni</string>
    <string>absBehIni</string>
    <string>absTehIni</string>
    <string>absThehIni</string>
    <string>absTtehehIni</string>
    <string>absBeehIni</string>
    <string>absTehThreeDotsAboveDownwardsIni</string>
    <string>absPehIni</string>
    <string>absBehThreeDotsHorizBelowIni</string>
    <string>absBehThreeDotsAboveDotBelowIni</string>
    <string>absBehThreeDotsUpwardBelowIni</string>
    <string>absBehTwoDotsAboveThreeDotsUpwardBelowIni</string>
    <string>absBehDotAboveTwoDotsBelowIni</string>
    <string>absBehInvSmallVBelowIni</string>
    <string>absBehSmallVAboveIni</string>
    <string>absBehSmallVBelowIni</string>
    <string>absBehHamzaAboveIni</string>
    <string>absJeemIni</string>
    <string>absHahIni</string>
    <string>absKhahIni</string>
    <string>absHahTwoDotsVerticalAboveIni</string>
    <string>absNyehIni</string>
    <string>absDyehIni</string>
    <string>absHahThreeDotsAboveIni</string>
    <string>absTchehIni</string>
    <string>absTchehDotAboveIni</string>
    <string>absHahTwoDotsAboveIni</string>
    <string>absHahThreeDotsUpwardBelowIni</string>
    <string>absJeemTwoDotsAboveIni</string>
    <string>absSeenIni</string>
    <string>absSheenIni</string>
    <string>absSeenDotBelowDotAboveIni</string>
    <string>absSeenThreeDotsBelowIni</string>
    <string>absSeenThreeDotsBelowThreeDotsAboveIni</string>
    <string>absSheenDotBelowIni</string>
    <string>absSeenTwoVertAboveIni</string>
    <string>absSeenInvertedVIni</string>
    <string>absSadIni</string>
    <string>absDadIni</string>
    <string>absSadTwoDotsBelowIni</string>
    <string>absSadThreeDotsAboveIni</string>
    <string>absDadDotBelowIni</string>
    <string>absSadThreeDotsBelowIni</string>
    <string>absTahIni</string>
    <string>absZahIni</string>
    <string>absTahThreeDotsAboveIni</string>
    <string>absTahTwoDotsAboveIni</string>
    <string>absAinIni</string>
    <string>absGhainIni</string>
    <string>absAinThreeDotsAboveIni</string>
    <string>absGhainDotBelowIni</string>
    <string>absAinTwoDotsAboveIni</string>
    <string>absAinThreeDotsDownAboveIni</string>
    <string>absAinTwoDotsVertAboveIni</string>
    <string>absFehIni</string>
    <string>absDotlessFehIni</string>
    <string>absFehDotMovedBelowIni</string>
    <string>absFehDotBelowIni</string>
    <string>absVehIni</string>
    <string>absFehThreeDotsBelowIni</string>
    <string>absFehTwoDotsBelowIni</string>
    <string>absFehThreeDotsUpwardBelowIni</string>
    <string>absFehDotBelowThreeDotsAboveIni</string>
    <string>absQafNoDotsIni</string>
    <string>absQafIni</string>
    <string>absQafDotAboveIni</string>
    <string>absQafThreeDotsAboveIni</string>
    <string>absQafDotBelowIni</string>
    <string>absKafIni</string>
    <string>absKafDotAboveIni</string>
    <string>absNgIni</string>
    <string>absKafTwoDotsAboveIni</string>
    <string>absKafThreeDotsBelowIni</string>
    <string>absKehehIni</string>
    <string>absGafIni</string>
    <string>absKehehDotAboveIni</string>
    <string>absKehehThreeDotsAboveIni</string>
    <string>absKehehThreeDotsUpwardBelowIni</string>
    <string>absKehehTwoDotsAboveIni</string>
    <string>absKehehThreeDotsBelowIni</string>
    <string>absSwashKafIni</string>
    <string>absLamIni</string>
    <string>absLamSmallVIni</string>
    <string>absLamDotAboveIni</string>
    <string>absLamThreeDotsAboveIni</string>
    <string>absLamThreeDotsBelowIni</string>
    <string>absLamBarIni</string>
    <string>absLamDoubleBarIni</string>
    <string>absMeemIni</string>
    <string>absMeemDotAboveIni</string>
    <string>absMeemDotBelowIni</string>
    <string>absMeemThreeDotsAboveIni</string>
    <string>absNoonIni</string>
    <string>absNoonDotBelowIni</string>
    <string>absNoonGhunnaIni</string>
    <string>absNoonThreeDotsAboveIni</string>
    <string>absNoonTwoDotsBelowIni</string>
    <string>absNoonSmallVIni</string>
    <string>absHehDoachashmeeIni</string>
    <string>absHehIni</string>
    <string>absHighHamza</string>
    <string>absSmallWaw</string>
    <string>absSmallYeh</string>
    <string>absFathatan</string>
    <string>absDammatan</string>
    <string>absDammatan.sixNine</string>
    <string>absKasratan</string>
    <string>absKasratan.lowered</string>
    <string>absFatha</string>
    <string>absDamma</string>
    <string>absDamma.short</string>
    <string>absKasra</string>
    <string>absKasra.lowered</string>
    <string>absShadda</string>
    <string>absSukun</string>
    <string>absSukun.downOpen</string>
    <string>absSukun.leftOpen</string>
    <string>absMaddahAbove</string>
    <string>absMaddahAbove.small</string>
    <string>absHamzaAbove</string>
    <string>absHamzaBelow</string>
    <string>absSubscriptAlef</string>
    <string>absUltaPesh</string>
    <string>absNoonGhunnaMark</string>
    <string>absVowelSmallV</string>
    <string>absVowelInvSmallV</string>
    <string>absVowelDotBelow</string>
    <string>absReversedDamma</string>
    <string>absSuperscriptAlef</string>
    <string>absSuperscriptAlef.left</string>
    <string>absSuperscriptAlef.large</string>
    <string>absTone1DotAbove</string>
    <string>absTone2DotsAbove</string>
    <string>absToneLoopAbove</string>
    <string>absTone1DotBelow</string>
    <string>absTone2DotsBelow</string>
    <string>absToneLoopBelow</string>
    <string>absFathaRing</string>
    <string>absFathaDotAbove</string>
    <string>absKasraDotBelow</string>
    <string>absLeftArrowheadAbove</string>
    <string>absRightArrowheadAbove</string>
    <string>absLeftArrowheadBelow</string>
    <string>absRightArrowheadBelow</string>
    <string>absDoubleRightArrowheadAbove</string>
    <string>absDoubleRightArrowheadAboveDot</string>
    <string>absRightArrowheadAboveDot</string>
    <string>absSmallHighSadLamAlefMaksura</string>
    <string>absSmallHighQafLamAlefMaksura</string>
    <string>absSmallHighMeemInitialForm</string>
    <string>absSmallHighLamAlef</string>
    <string>absSmallHighJeem</string>
    <string>absSmallHighThreeDots</string>
    <string>absSmallHighSeen</string>
    <string>absSmallHighRoundedZero</string>
    <string>absSmallHighUprightRectangularZero</string>
    <string>absSmallHighMeemIsolatedForm</string>
    <string>absSmallLowSeen</string>
    <string>absSmallHighMadda</string>
    <string>absSmallHighYeh</string>
    <string>absSmallHighNoon</string>
    <string>absEmptyCentreLowStop</string>
    <string>absEmptyCentreHighStop</string>
    <string>absRoundedHighStopFilledCentre</string>
    <string>absSmallLowMeem</string>
    <string>absNumberSign</string>
    <string>absYearSign</string>
    <string>absFootnoteSign</string>
    <string>absPageSign</string>
    <string>absSamvatSign</string>
    <string>absPerMilleSign</string>
    <string>absPerTenThousandSign</string>
    <string>absComma</string>
    <string>absComma.downward</string>
    <string>absSmallHighSadMark</string>
    <string>absSmallHighAinMark</string>
    <string>absSmallHighRehHahMark</string>
    <string>absSmallHighRehDadMark</string>
    <string>absNameMarker</string>
    <string>absSmallDamma</string>
    <string>absSemicolon</string>
    <string>absSemicolon.downward</string>
    <string>arabicLetterMark</string>
    <string>absTripleDotPunct</string>
    <string>absQuestionMark</string>
    <string>absPercentSign</string>
    <string>absDecimalSeparator</string>
    <string>absThousandsSeparator</string>
    <string>absFivePointedStar</string>
    <string>absFullStop</string>
    <string>absEndOfAyah</string>
    <string>absEndOfAyah.alt</string>
    <string>absEndOfAyah.altB</string>
    <string>ornateLeftParen</string>
    <string>ornateRightParen</string>
    <string>absLigatureAllah</string>
    <string>absZero</string>
    <string>absOne</string>
    <string>absTwo</string>
    <string>absThree</string>
    <string>absFour</string>
    <string>absFive</string>
    <string>absSix</string>
    <string>absSeven</string>
    <string>absEight</string>
    <string>absNine</string>
    <string>zeroMedium</string>
    <string>oneMedium</string>
    <string>twoMedium</string>
    <string>threeMedium</string>
    <string>fourMedium</string>
    <string>fiveMedium</string>
    <string>sixMedium</string>
    <string>sevenMedium</string>
    <string>eightMedium</string>
    <string>nineMedium</string>
    <string>absZeroMedium</string>
    <string>absOneMedium</string>
    <string>absTwoMedium</string>
    <string>absThreeMedium</string>
    <string>absFourMedium</string>
    <string>absFiveMedium</string>
    <string>absSixMedium</string>
    <string>absSevenMedium</string>
    <string>absEightMedium</string>
    <string>absNineMedium</string>
    <string>zeroSmall</string>
    <string>oneSmall</string>
    <string>twoSmall</string>
    <string>threeSmall</string>
    <string>fourSmall</string>
    <string>fiveSmall</string>
    <string>sixSmall</string>
    <string>sevenSmall</string>
    <string>eightSmall</string>
    <string>nineSmall</string>
    <string>absZeroSmall</string>
    <string>absOneSmall</string>
    <string>absTwoSmall</string>
    <string>absThreeSmall</string>
    <string>absFourSmall</string>
    <string>absFiveSmall</string>
    <string>absSixSmall</string>
    <string>absSevenSmall</string>
    <string>absEightSmall</string>
    <string>absNineSmall</string>
    <string>absEndOfAyah.2</string>
    <string>absEndOfAyah.3</string>
    <string>absEndOfAyah.alt.2</string>
    <string>absEndOfAyah.alt.3</string>
    <string>absEndOfAyah.altB.2</string>
    <string>absEndOfAyah.altB.3</string>
    <string>absNumberSign.2</string>
    <string>absNumberSign.3</string>
    <string>absYearSign.2</string>
    <string>absYearSign.3</string>
    <string>absYearSign.4</string>
    <string>absFootnoteSign.2</string>
    <string>absPageSign.2</string>
    <string>absPageSign.3</string>
    <string>absPageSign.4</string>
    <string>absSamvatSign.2</string>
    <string>absSamvatSign.3</string>
    <string>absSamvatSign.4</string>
    <string>absShaddaFathatan</string>
    <string>absShaddaDammatan</string>
    <string>absShaddaDammatan.sixNine</string>
    <string>absShaddaKasratan</string>
    <string>absShaddaFatha</string>
    <string>absShaddaDamma</string>
    <string>absShaddaDamma.short</string>
    <string>absShaddaKasra</string>
    <string>absHamzaFatha</string>
    <string>absHamzaDamma</string>
    <string>absHamzaDamma.short</string>
    <string>absShaddaAlef</string>
    <string>absShortVowelMark</string>
    <string>absFathaMeem</string>
    <string>absDammaMeem</string>
    <string>absKasraMeem</string>
    <string>absAutoKashida</string>
    <string>absLamIni.preAlef</string>
    <string>absLamSmallVIni.preAlef</string>
    <string>absLamDotAboveIni.preAlef</string>
    <string>absLamThreeDotsAboveIni.preAlef</string>
    <string>absLamThreeDotsBelowIni.preAlef</string>
    <string>absLamBarIni.preAlef</string>
    <string>absLamDoubleBarIni.preAlef</string>
    <string>absLamHamzaIni.preAlef</string>
    <string>absLamHamzaIni.preAlef.warsh</string>
    <string>absAlefMaddaAboveFin.postLamIni</string>
    <string>absAlefMaddaAboveFin.postLamIni.small</string>
    <string>absAlefHamzaAboveFin.postLamIni</string>
    <string>absAlefHamzaAboveFin.postLamIni.warsh</string>
    <string>absAlefHamzaBelowFin.postLamIni</string>
    <string>absAlefFin.postLamIni</string>
    <string>absAlefWaslaFin.postLamIni</string>
    <string>absLamMed.preAlef</string>
    <string>absLamSmallVMed.preAlef</string>
    <string>absLamDotAboveMed.preAlef</string>
    <string>absLamThreeDotsAboveMed.preAlef</string>
    <string>absLamThreeDotsBelowMed.preAlef</string>
    <string>absLamBarMed.preAlef</string>
    <string>absLamDoubleBarMed.preAlef</string>
    <string>absAlefMaddaAboveFin.postLamMed</string>
    <string>absAlefMaddaAboveFin.postLamMed.small</string>
    <string>absAlefHamzaAboveFin.postLamMed</string>
    <string>absAlefHamzaAboveFin.postLamMed.warsh</string>
    <string>absAlefHamzaBelowFin.postLamMed</string>
    <string>absAlefFin.postLamMed</string>
    <string>absAlefWaslaFin.postLamMed</string>
    <string>_bar</string>
    <string>_bar2</string>
    <string>_damma</string>
    <string>_hamzaDamma</string>
    <string>_hamza</string>
    <string>_highHamza</string>
    <string>_hat</string>
    <string>_invSmallV</string>
    <string>_smallV</string>
    <string>_dot1</string>
    <string>_dot1_hat</string>
    <string>_dot1_smallV</string>
    <string>_dot2h</string>
    <string>_dot2v</string>
    <string>_dot3d</string>
    <string>_dot3h</string>
    <string>_dot3u</string>
    <string>_gafBar</string>
    <string>_gafBarShort</string>
    <string>_madda</string>
    <string>_madda.small</string>
    <string>_ring</string>
    <string>_tah</string>
    <string>_vline</string>
    <string>_wasla</string>
    <string>absOpenFathatan</string>
    <string>absOpenDammatan</string>
    <string>absOpenKasratan</string>
    <string>absSmallHighWaw</string>
    <string>absFathaTwoDots</string>
    <string>absAfricanFeh</string>
    <string>absAfricanQaf</string>
    <string>absAfricanNoon</string>
    <string>absAfricanFehFin</string>
    <string>absAfricanQafFin</string>
    <string>absAfricanNoonFin</string>
    <string>absAfricanFehMed</string>
    <string>absAfricanQafMed</string>
    <string>absAfricanNoonMed</string>
    <string>absAfricanFehIni</string>
    <string>absAfricanQafIni</string>
    <string>absAfricanNoonIni</string>
  </array>
</dict>
</plist>
