<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>_alef-ar.fina.postLamIni</key>
  <string>_alef-ar.fina.postL_amI_ni.glif</string>
  <key>_alef-ar.fina.postLamMed</key>
  <string>_alef-ar.fina.postL_amM_ed.glif</string>
  <key>_dot1_smallV</key>
  <string>_dot1_smallV_.glif</string>
  <key>ae-ar</key>
  <string>ae-ar.glif</string>
  <key>ain-ar</key>
  <string>ain-ar.glif</string>
  <key>ain-ar.fina</key>
  <string>ain-ar.fina.glif</string>
  <key>ain-ar.medi</key>
  <string>ain-ar.medi.glif</string>
  <key>ainabove-ar</key>
  <string>ainabove-ar.glif</string>
  <key>behDotless-ar.fina</key>
  <string>behD_otless-ar.fina.glif</string>
  <key>bismillah-ar</key>
  <string>bismillah-ar.glif</string>
  <key>disputedendofayah-ar</key>
  <string>disputedendofayah-ar.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fehDotless-ar.init</key>
  <string>fehD_otless-ar.init.glif</string>
  <key>hehDoachashmee-ar.init</key>
  <string>hehD_oachashmee-ar.init.glif</string>
  <key>hehDoachashmee-ar.medi</key>
  <string>hehD_oachashmee-ar.medi.glif</string>
  <key>jeemabove-ar</key>
  <string>jeemabove-ar.glif</string>
  <key>kaf-ar.fina</key>
  <string>kaf-ar.fina.glif</string>
  <key>kaf-ar.init</key>
  <string>kaf-ar.init.glif</string>
  <key>kaf-ar.medi</key>
  <string>kaf-ar.medi.glif</string>
  <key>keheh-ar</key>
  <string>keheh-ar.glif</string>
  <key>kirghizoe-ar</key>
  <string>kirghizoe-ar.glif</string>
  <key>lamAlefabove-ar</key>
  <string>lamA_lefabove-ar.glif</string>
  <key>meem-ar.init</key>
  <string>meem-ar.init.glif</string>
  <key>meem-ar.sindhi</key>
  <string>meem-ar.sindhi.glif</string>
  <key>misraComma-ar</key>
  <string>misraC_omma-ar.glif</string>
  <key>numbermark-ar</key>
  <string>numbermark-ar.glif</string>
  <key>pepet-ar</key>
  <string>pepet-ar.glif</string>
  <key>piastremarkabove-ar</key>
  <string>piastremarkabove-ar.glif</string>
  <key>poundmarkabove-ar</key>
  <string>poundmarkabove-ar.glif</string>
  <key>qafDotless-ar</key>
  <string>qafD_otless-ar.glif</string>
  <key>rehLoop-ar</key>
  <string>rehL_oop-ar.glif</string>
  <key>sad-ar</key>
  <string>sad-ar.glif</string>
  <key>sad-ar.medi</key>
  <string>sad-ar.medi.glif</string>
  <key>sadabove-ar</key>
  <string>sadabove-ar.glif</string>
  <key>sallallahouAlayheWassallamcomb-ar</key>
  <string>sallallahouA_layheW_assallamcomb-ar.glif</string>
  <key>seen-ar.medi</key>
  <string>seen-ar.medi.glif</string>
  <key>tah-ar</key>
  <string>tah-ar.glif</string>
  <key>tah-ar.init</key>
  <string>tah-ar.init.glif</string>
  <key>tahabove-ar</key>
  <string>tahabove-ar.glif</string>
  <key>waw-ar</key>
  <string>waw-ar.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yeh-ar.noDots</key>
  <string>yeh-ar.noD_ots.glif</string>
  <key>yeh-ar.noDots.fina</key>
  <string>yeh-ar.noD_ots.fina.glif</string>
  <key>yehSmall-farsi</key>
  <string>yehS_mall-farsi.glif</string>
  <key>yehabove-farsi</key>
  <string>yehabove-farsi.glif</string>
  <key>yehbarree-ar</key>
  <string>yehbarree-ar.glif</string>
  <key>yehbarree-ar.fina</key>
  <string>yehbarree-ar.fina.glif</string>
  <key>yehbarree-ar.fina.wide</key>
  <string>yehbarree-ar.fina.wide.glif</string>
  <key>zahabove-ar</key>
  <string>zahabove-ar.glif</string>
</dict>
</plist>
