<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ae-ar</key>
  <string>ae-ar.glif</string>
  <key>ae-ar.fina</key>
  <string>ae-ar.fina.glif</string>
  <key>ain-ar.fina</key>
  <string>ain-ar.fina.glif</string>
  <key>dal-ar.fina</key>
  <string>dal-ar.fina.glif</string>
  <key>fehDotless-ar</key>
  <string>fehD_otless-ar.glif</string>
  <key>fehDotless-ar.fina</key>
  <string>fehD_otless-ar.fina.glif</string>
  <key>hehDoachashmee-ar.init</key>
  <string>hehD_oachashmee-ar.init.glif</string>
  <key>kaf-ar.init</key>
  <string>kaf-ar.init.glif</string>
  <key>kaf-ar.medi</key>
  <string>kaf-ar.medi.glif</string>
  <key>meem-ar.init</key>
  <string>meem-ar.init.glif</string>
  <key>meem-ar.medi</key>
  <string>meem-ar.medi.glif</string>
  <key>meem-ar.sindhi</key>
  <string>meem-ar.sindhi.glif</string>
  <key>qafDotless-ar</key>
  <string>qafD_otless-ar.glif</string>
  <key>sad-ar.half</key>
  <string>sad-ar.half.glif</string>
  <key>sad-ar.init</key>
  <string>sad-ar.init.glif</string>
  <key>sad-ar.medi</key>
  <string>sad-ar.medi.glif</string>
  <key>seen-ar</key>
  <string>seen-ar.glif</string>
  <key>seen-ar.fina</key>
  <string>seen-ar.fina.glif</string>
  <key>yeh-ar.noDots</key>
  <string>yeh-ar.noD_ots.glif</string>
</dict>
</plist>
