<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_dot1_smallV</key>
  <string>_dot1_smallV_.glif</string>
  <key>ae-ar</key>
  <string>ae-ar.glif</string>
  <key>ain-ar</key>
  <string>ain-ar.glif</string>
  <key>ain-ar.fina</key>
  <string>ain-ar.fina.glif</string>
  <key>ain-ar.medi</key>
  <string>ain-ar.medi.glif</string>
  <key>alef-ar.postLamIni.fina</key>
  <string>alef-ar.postL_amI_ni.fina.glif</string>
  <key>alef-ar.postLamMed.fina</key>
  <string>alef-ar.postL_amM_ed.fina.glif</string>
  <key>behDotless-ar.fina</key>
  <string>behD_otless-ar.fina.glif</string>
  <key>fehDotless-ar.init</key>
  <string>fehD_otless-ar.init.glif</string>
  <key>fourdotsabove-ar</key>
  <string>fourdotsabove-ar.glif</string>
  <key>fourdotsbelow-ar</key>
  <string>fourdotsbelow-ar.glif</string>
  <key>fourdotscenter-ar</key>
  <string>fourdotscenter-ar.glif</string>
  <key>hehDoachashmee-ar.init</key>
  <string>hehD_oachashmee-ar.init.glif</string>
  <key>hehDoachashmee-ar.medi</key>
  <string>hehD_oachashmee-ar.medi.glif</string>
  <key>kaf-ar.fina</key>
  <string>kaf-ar.fina.glif</string>
  <key>kaf-ar.init</key>
  <string>kaf-ar.init.glif</string>
  <key>kaf-ar.medi</key>
  <string>kaf-ar.medi.glif</string>
  <key>keheh-ar</key>
  <string>keheh-ar.glif</string>
  <key>meem-ar.init</key>
  <string>meem-ar.init.glif</string>
  <key>meem-ar.sindhi</key>
  <string>meem-ar.sindhi.glif</string>
  <key>qafDotless-ar</key>
  <string>qafD_otless-ar.glif</string>
  <key>sad-ar</key>
  <string>sad-ar.glif</string>
  <key>sad-ar.medi</key>
  <string>sad-ar.medi.glif</string>
  <key>seen-ar.medi</key>
  <string>seen-ar.medi.glif</string>
  <key>tah-ar</key>
  <string>tah-ar.glif</string>
  <key>tah-ar.init</key>
  <string>tah-ar.init.glif</string>
  <key>threedotsdownabove-ar</key>
  <string>threedotsdownabove-ar.glif</string>
  <key>threedotsdownbelow-ar</key>
  <string>threedotsdownbelow-ar.glif</string>
  <key>threedotsupabove-ar</key>
  <string>threedotsupabove-ar.glif</string>
  <key>threedotsupbelow-ar</key>
  <string>threedotsupbelow-ar.glif</string>
  <key>waw-ar</key>
  <string>waw-ar.glif</string>
  <key>yeh-ar.noDots</key>
  <string>yeh-ar.noD_ots.glif</string>
  <key>yeh-ar.noDots.fina</key>
  <string>yeh-ar.noD_ots.fina.glif</string>
  <key>yehbarree-ar</key>
  <string>yehbarree-ar.glif</string>
  <key>yehbarree-ar.fina</key>
  <string>yehbarree-ar.fina.glif</string>
</dict>
</plist>
