<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>ae-ar</key>
  <string>ae-ar.glif</string>
  <key>ae-ar.fina</key>
  <string>ae-ar.fina.glif</string>
  <key>afghani-ar</key>
  <string>afghani-ar.glif</string>
  <key>ain-ar.fina</key>
  <string>ain-ar.fina.glif</string>
  <key>alef-ar.fina.allah</key>
  <string>alef-ar.fina.allah.glif</string>
  <key>alefWasla-ar.fina.allah</key>
  <string>alefW_asla-ar.fina.allah.glif</string>
  <key>allah-ar</key>
  <string>allah-ar.glif</string>
  <key>allah-ar.alt</key>
  <string>allah-ar.alt.glif</string>
  <key>dal-ar.fina</key>
  <string>dal-ar.fina.glif</string>
  <key>dal-ar.fina.loclWLF</key>
  <string>dal-ar.fina.loclW_L_F_.glif</string>
  <key>dal-ar.loclWLF</key>
  <string>dal-ar.loclW_L_F_.glif</string>
  <key>dammainverted-ar-open</key>
  <string>dammainverted-ar-open.glif</string>
  <key>disputedendofayah-ar</key>
  <string>disputedendofayah-ar.glif</string>
  <key>disputedendofayah-ar.2</key>
  <string>disputedendofayah-ar.2.glif</string>
  <key>fathaCurly-ar</key>
  <string>fathaC_urly-ar.glif</string>
  <key>fehDotless-ar</key>
  <string>fehD_otless-ar.glif</string>
  <key>fehDotless-ar.fina</key>
  <string>fehD_otless-ar.fina.glif</string>
  <key>hehDoachashmee-ar.init</key>
  <string>hehD_oachashmee-ar.init.glif</string>
  <key>hizb-ar</key>
  <string>hizb-ar.glif</string>
  <key>kaf-ar.init</key>
  <string>kaf-ar.init.glif</string>
  <key>kaf-ar.medi</key>
  <string>kaf-ar.medi.glif</string>
  <key>lamAlefabove-ar</key>
  <string>lamA_lefabove-ar.glif</string>
  <key>meem-ar.init</key>
  <string>meem-ar.init.glif</string>
  <key>meem-ar.medi</key>
  <string>meem-ar.medi.glif</string>
  <key>meem-ar.sindhi</key>
  <string>meem-ar.sindhi.glif</string>
  <key>meemStopabove-ar</key>
  <string>meemS_topabove-ar.glif</string>
  <key>numbermark-ar</key>
  <string>numbermark-ar.glif</string>
  <key>numbermark-ar.2</key>
  <string>numbermark-ar.2.glif</string>
  <key>pagenumber-ar</key>
  <string>pagenumber-ar.glif</string>
  <key>piastremarkabove-ar</key>
  <string>piastremarkabove-ar.glif</string>
  <key>poundmarkabove-ar</key>
  <string>poundmarkabove-ar.glif</string>
  <key>qafDotless-ar</key>
  <string>qafD_otless-ar.glif</string>
  <key>rehLoop-ar</key>
  <string>rehL_oop-ar.glif</string>
  <key>sad-ar.half</key>
  <string>sad-ar.half.glif</string>
  <key>sad-ar.init</key>
  <string>sad-ar.init.glif</string>
  <key>sad-ar.medi</key>
  <string>sad-ar.medi.glif</string>
  <key>samvat-ar</key>
  <string>samvat-ar.glif</string>
  <key>seen-ar</key>
  <string>seen-ar.glif</string>
  <key>seen-ar.fina</key>
  <string>seen-ar.fina.glif</string>
  <key>seenabove-ar</key>
  <string>seenabove-ar.glif</string>
  <key>seven-persian.urdu</key>
  <string>seven-persian.urdu.glif</string>
  <key>wawSmall-ar</key>
  <string>wawS_mall-ar.glif</string>
  <key>wawbelow-ar</key>
  <string>wawbelow-ar.glif</string>
  <key>year-ar</key>
  <string>year-ar.glif</string>
  <key>yeh-ar.noDots</key>
  <string>yeh-ar.noD_ots.glif</string>
  <key>yeh-ar.noDots.fina</key>
  <string>yeh-ar.noD_ots.fina.glif</string>
  <key>yehSmall-farsi</key>
  <string>yehS_mall-farsi.glif</string>
  <key>yehabove-farsi</key>
  <string>yehabove-farsi.glif</string>
  <key>yehbarree-ar.fina.wide</key>
  <string>yehbarree-ar.fina.wide.glif</string>
</dict>
</plist>
